[submodule "Advanced-SYN-Scanner"]
	path = Advanced-SYN-Scanner
	url = https://github.com/mecik-arda/Advanced-SYN-Scanner.git
[submodule "Network-Sniffer-Scanner-Java"]
	path = Network-Sniffer-Scanner-Java
	url = https://github.com/mecik-arda/Network-Sniffer-Scanner-Java.git
[submodule "erebus-scanner"]
	path = erebus-scanner
	url = https://github.com/mecik-arda/erebus-scanner.git
[submodule "SnoopDork_V3"]
	path = SnoopDork_V3
	url = https://github.com/mecik-arda/SnoopDork_V3.git
[submodule "packet-injector"]
	path = packet-injector
	url = https://github.com/mecik-arda/packet-injector.git
[submodule "mimir-scanner"]
	path = mimir-scanner
	url = https://github.com/mecik-arda/mimir-scanner.git
